<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">       
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        products list 
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success">new</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        new products 
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success">close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
